<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="<%= root_path %>"><h3>PrivateClubThp</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href = "<%= root_path %>"> home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href = "<%= new_user_path %>"> Nouveau user <span class="sr-only">(current)</span></a>
      <%if logged_in? %>
        </li>
              <li class="nav-item active">
          <a class="nav-link" href = "<%= users_path %>"> Index users <span class="sr-only">(current)</span></a>
        </li>
      <% end %>
    </ul>
     <ul class="navbar-nav navbar-right">

      <% if logged_in? %>

        <li class="dropdown nav-item active">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: :delete %>
            </li>
          </ul>
        </li>

      <% else %>
        <li class="nav-item active" >
          <a class="nav-link" href = "<%= login_path %>"> Login <span class="sr-only">(current)</span></a>
        </li>
      <% end %>

    </ul>
  </div>
</nav>